<section class="jobs">
<h2> Add Job</h2>

<form class="add-job">
  <div class="form-group">
    <label for="client_id">Client</label>
    <select class="form-select" id="client_id" name="client">
      {{#each clients as |client|}}
      <option value="{{client.id}}">{{client.last_name}}, {{client.first_name}}</option>
      {{/each}}
    </select>
    <label for="employee_id">Employee</label>
    <select class="form-select" id="employee_id" name="employee">
      {{#each employees as |employee|}}
      <option value="{{employee.employee_id}}">{{employee.last_name}}, {{employee.first_name}}</option>
      {{/each}}
    </select>
    <label for="task">Task:</label>
    <select class="form-select" id="task" name="task">
      {{#each tasks as |task|}}
      <option value="{{task.id}}">{{task.name}}</option>
      {{/each}}
    </select>
    <label for="date">Date</label>
    <input class="from-group" type="text" id="date" placeholder="YYYY-MM-DD" />
    <label for="comments">Comments</label>
    <input class="from-group" type="text" id="comments" placeholder="gate code, dogs, type of flowers." />
    <label for="isDone">Complete ?</label>
    <input class="from-group" type="checkbox" id="isDone"></input>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>



{{#each jobs as |job| }}
<Div class="job-field">
  <section class="job-column">
    <ul>Job Id: {{job.id}}</ul>
    <ul>Client:{{job.client.last_name}}, {{job.client.first_name}}</ul>
    <ul>Employee:{{job.employee.last_name}}</ul>
  </section>
  <section class="job-column">
    <ul>Task:{{job.task_id}}</ul>
    <ul>Date:{{job.date}}</ul>
    <ul>Comments:{{job.comments}}</ul>
  </section>
  <section class="job-column">
    <ul>Complete:{{job.isDone}}</ul>
    <add-to-calendar-button name="Client:{{job.client.last_name}}, {{job.client.first_name}}" options="'Google'"
      location="{{job.client.location}}" startDate="{{job.date}}" endDate="{{job.date}}" startTime="08:00"
      endTime="18:00" timeZone="America/Los_Angeles"></add-to-calendar-button>
  </section>
</Div>
{{/each}}
</section>

<script src="/js/jobPost.js"></script>