<section class="jobBoard">
    <button id="add">Add another Job</button>
    <section class="jobs">
        {{!-- {{#each jobs as |job| }}
            <p>
            <span>{{clientName}}</span>
            <span>{{jobName}}</span>
            <span>{{tasks}}</span>
            <span>{{employees}}</span>
            <span>{{date}}</span>
            </p>
        {{/each}} --}}
        <div>Job, Client, Employees, Tasks, Price, Comments</div>
        <div>Job, Client, Employees, Tasks, Price, Comments</div>
        <div>Job, Client, Employees, Tasks, Price, Comments</div>
        <div>Job, Client, Employees, Tasks, Price, Comments</div>
    </section>
</section>